Tests/ValidationRules.Replication.Comparison.Tests/Service References/ErmService/Validate3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://order-validation20.api.test.erm.2gis.ru/Validate.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation.Remote" />
  <xs:import schemaLocation="https://order-validation20.api.test.erm.2gis.ru/Validate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation.Remote" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfOrderValidationMessage" />
      <xs:element minOccurs="0" name="OrderCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:simpleType name="ValidationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SingleOrderOnRegistration">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PreReleaseBeta">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PreReleaseFinal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManualReport">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManualReportWithAccountsCheck">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SingleOrderOnStateChanging">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValidationType" nillable="true" type="tns:ValidationType" />
</xs:schema>