Tests/ValidationRules.Replication.Comparison.Tests/Service References/ErmService/Validate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://2gis.ru/erm/api/common/2013/09" elementFormDefault="qualified" targetNamespace="http://2gis.ru/erm/api/common/2013/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://order-validation20.api.test.erm.2gis.ru/Validate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TimePeriod">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimePeriod" nillable="true" type="tns:TimePeriod" />
</xs:schema>