Tests/ValidationRules.Replication.Comparison.Tests/Service References/ErmService/Validate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation.Remote" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation.Remote" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://order-validation20.api.test.erm.2gis.ru/Validate.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://order-validation20.api.test.erm.2gis.ru/Validate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation" />
  <xs:complexType name="ArrayOfOrderValidationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderValidationMessage" nillable="true" type="tns:OrderValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderValidationMessage" nillable="true" type="tns:ArrayOfOrderValidationMessage" />
  <xs:complexType name="OrderValidationMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInfo" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleCode" type="xs:int" />
      <xs:element minOccurs="0" name="TargetEntityId" type="xs:long" />
      <xs:element minOccurs="0" name="TargetEntityTypeCode" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DoubleGis.Erm.BLCore.API.OrderValidation" minOccurs="0" name="Type" type="q2:MessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderValidationMessage" nillable="true" type="tns:OrderValidationMessage" />
</xs:schema>